.photo-grid {
  display: grid;
  max-width: 1184px;
  margin: 0 48px;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 24px;
    max-width: 720px;
  }
}
@media screen and (max-width: 515px) {
  .photo-grid {
    grid-template-columns: 1fr;
    margin: 0 16px;
  }
}
