.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 785px;
  padding: 92px 347px 118px 148px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 92px 0 118px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 0 90px 0;
    max-width: 288px;
  }
}
