.place {
  display: grid;
  grid-template-areas:
    "title website"
    "image text"
    "button text";
  grid-gap: 48px 40px;
  justify-content: center;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin-top: 80px;
}

.place:first-child {
  margin: 92px 0 0 0;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}
