.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 8px 0;
}

@media screen and (max-width: 515px) {
  .place__url-heading {
    margin: 0 0 12px 0;
  }
}
